* {
  margin-bottom: 20px;
}
nz-date-picker {
  width: 120px;
  margin-right: 10px;
}

nz-cascader {
  width: 150px;
  margin-right: 10px;
}

input {
  width: 150px;
  margin-right: 10px;
}

.container {
  height: 200px;
}
