<nz-card [ngStyle]="{ 'background-color': bgColor }">
  <nz-statistic
    [nzValue]="data"
    [nzTitle]="name"
    [nzValueStyle]="{ color: '#ffffff' }"
  >
  </nz-statistic>
</nz-card>

<ng-template #name>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    {{ title }}
    <nz-select
      [(ngModel)]="range"
      style="width: 80px;"
      (ngModelChange)="onSelectChange($event)"
    >
      <nz-option nzValue="本周" nzLabel="本周"></nz-option>
      <nz-option nzValue="本年" nzLabel="本年"></nz-option>
      <nz-option nzValue="本月" nzLabel="本月"></nz-option>
    </nz-select>
  </div>
</ng-template>
