<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <nz-select [(ngModel)]="selectedTargetId" nzAllowClear nzPlaceHolder="品名">
      <nz-option
        *ngFor="let t of targets"
        [nzValue]="t.id"
        [nzLabel]="t.brand + '——' + t.name"
      >
      </nz-option>
    </nz-select>

    <input nz-input placeholder="故障" [(ngModel)]="malfunctionName" />
    <button nz-button (click)="add()">新增</button>
  </div>
  <nz-table
    #basicTable
    [nzData]="malfunctions"
    [nzPageSize]="6"
    [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>品名</th>
        <th>故障</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <ng-container *ngIf="currentId != data.id; else brandInputTpl">
            {{ data.target.brand }}—— {{ data.target.name }}
          </ng-container>
          <ng-template #brandInputTpl>
            <input
              type="text"
              nz-input
              [ngModel]="data.target.brand + '——' + data.target.name"
            />
          </ng-template>
        </td>

        <td>
          <ng-container *ngIf="currentId != data.id; else typeInputTpl">
            {{ data.name }}
          </ng-container>
          <ng-template #typeInputTpl>
            <input type="text" nz-input [(ngModel)]="data.name" />
          </ng-template>
        </td>

        <td>
          <a *ngIf="currentId !== data.id" (click)="makeEditable(data.id)"
            >编辑</a
          >
          <a *ngIf="currentId === data.id" (click)="saveData(data)">保存</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
