<ng-container *ngIf="stats">
  <div class="overview" fxLayout="row" fxLayoutAlign="space-between center">
    <app-stats-card
      fxFlex="33"
      [title]="'工单数'"
      [stat]="stats.orderStat"
      [bgColor]="'#fa8c16'"
    ></app-stats-card>
    <app-stats-card
      fxFlex="33"
      [title]="'摄像数'"
      [stat]="stats.cameraStat"
      [bgColor]="'#52c41a'"
    ></app-stats-card>
    <app-stats-card
      fxFlex="33"
      [title]="'项目数'"
      [stat]="stats.projectStat"
      [bgColor]="'#1890ff'"
    ></app-stats-card>
  </div>
  <div class="graphs" fxLayout="row" fxLayoutAlign="space-between center">
    <nz-card fxFlex="50" nzTitle="故障占比">
      <app-pie
        [legend]="stats.pieOfMalfunctions.lengend"
        [series]="stats.pieOfMalfunctions.series"
      ></app-pie>
    </nz-card>

    <nz-card fxFlex="50" nzTitle="对象占比">
      <app-pie
        [legend]="stats.pieOfTargets.lengend"
        [series]="stats.pieOfTargets.series"
      ></app-pie>
    </nz-card>
  </div>
</ng-container>
