<div
  class="content-container"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <input nz-input placeholder="姓名" [(ngModel)]="name" />
    <input nz-input placeholder="部门" [(ngModel)]="department" />
    <input nz-input placeholder="电话" [(ngModel)]="tel" />
    <a>
      <i nz-icon nzType="plus-square" nzTheme="outline" (click)="add()"></i
    ></a>
  </div>
  <nz-table
    #basicTable
    [nzData]="operators"
    [nzLoading]="isLoading"
    [nzPageSize]="pageSize"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>姓名</th>
        <th>部门</th>
        <th>电话</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{ data.name }}
        </td>
        <td>
          {{ data.department }}
        </td>
        <td>
          {{ data.tel }}
        </td>
        <td>
          <a (click)="openEditDlg(data)">编辑</a>

          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
