<div
  class="content-container"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <a (click)="showAddDlg()">
      <i nz-icon nzType="plus-square" nzTheme="outline"></i>
    </a>
    <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
    <app-addr-select [(addrId)]="selectedAddrId"></app-addr-select>
    <app-operator-select
      [(operatorId)]="selectedOperatorId"
    ></app-operator-select>
    <app-target-select [(targetId)]="selectedTargetId"></app-target-select>
    <!-- <app-malfunction-select
      [(malfunctionId)]="selectedMalfunctionId"
    ></app-malfunction-select> -->
    <!-- <app-action-select [(actionId)]="selectedActionId"></app-action-select> -->
    <app-status-select [(statusId)]="selectedStatusId"></app-status-select>
    <button nz-button nzMalfunction="default" (click)="onFilterClick()">
      过滤
    </button>
  </div>

  <nz-table
    #filterTable
    [nzData]="listOfData"
    [nzLoading]="isLoading"
    [nzPageSize]="pageSize"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th style="width: 100px;">时间</th>
        <th style="width: 250px;">地点</th>
        <th>人员</th>
        <th style="width: 250px;">对象</th>
        <th>故障</th>
        <th style="width: 200px;">备注</th>
        <th>状态</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.date }}</td>
        <td>
          {{ data.Addr.Street.Area.name }}/{{ data.Addr.Street.name }}/{{
            data.Addr.name
          }}
        </td>
        <td>{{ data.Operator.name }}</td>
        <td>{{ data.Target.name }}</td>
        <td>{{ data.Malfunction.name }}</td>
        <td>{{ data.remarks }}</td>
        <td>{{ data.Status.name }}</td>
        <td>
          <a (click)="showEditDlg(data)"
            ><i nz-icon nzType="edit" nzTheme="outline"></i
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteRecord(data)">
            <i nz-icon nzType="delete" nzTheme="outline"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
