<nz-modal
  [nzWidth]="1200"
  [nzVisible]="isVisible"
  [nzTitle]="'修改当前'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <nz-cascader
    [nzPlaceHolder]="'选择街道'"
    [ngModel]="division"
    [nzOptions]="divisions"
    (nzSelectionChange)="onChanges($event)"
  ></nz-cascader>
  <input nz-input placeholder="姓名" [(ngModel)]="addr.name" />
  <input nz-input placeholder="类型"  [(ngModel)]="addr.type" />
  <input nz-input placeholder="地址"  [(ngModel)]="addr.addr" />
  <input nz-input placeholder="电话"  [(ngModel)]="addr.tel" />
</nz-modal>
