<div
  class="content-container"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <a (click)="showAddDlg()">
      <i nz-icon nzType="plus-square" nzTheme="outline"></i>
    </a>
    <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
    <app-purchase-select
      [(purchaseId)]="filter.purchaseId"
    ></app-purchase-select>
    <button nz-button nzMalfunction="default" (click)="onFilterClick()">
      过滤
    </button>
  </div>

  <nz-table
    #filterTable
    [nzData]="listOfData"
    [nzLoading]="isLoading"
    [nzPageSize]="pageSize"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>时间</th>
        <th>项目</th>
        <th>品名</th>
        <th>单价</th>
        <th>数量</th>
        <th>总价</th>
        <th>库存</th>
        <th>备注</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.date }}</td>
        <td>
          {{ data.projectName }}
        </td>
        <td>{{ data.productName }}</td>
        <td>{{ data.unitPrice }}</td>
        <td>{{ data.number }}</td>
        <td>{{ data.totalPrice }}</td>
        <td>{{ data.stock }}</td>
        <td>{{ data.remarks }}</td>
        <td>
          <a (click)="showEditDlg(data)"
            ><i nz-icon nzType="edit" nzTheme="outline"></i
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteRecord(data)">
            <i nz-icon nzType="delete" nzTheme="outline"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
