<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>工作流管理系统</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        nz-submenu
        nzOpen
        nzTitle="日常工作"
        nzIcon="tool"
        [(nzOpen)]="openMap.order"
        (nzOpenChange)="openHandler('order')"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order/stats">工作统计</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order/list">维护日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order/projects">项目日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order/cameras">摄像日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order/config">工作配置</a>
          </li>
        </ul>
      </li>

      <li
        nz-submenu
        nzOpen
        nzTitle="日常派发"
        nzIcon="shop"
        [(nzOpen)]="openMap.allocations"
        (nzOpenChange)="openHandler('allocations')"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/record">派发日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>派发统计</a>
          </li>
        </ul>
      </li>

      <li
        nz-submenu
        nzOpen
        nzTitle="其他配置"
        nzIcon="video-camera"
        [(nzOpen)]="openMap.config"
        (nzOpenChange)="openHandler('config')"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/config/global-config">全局配置</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/config/access-control">访问控制</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>

        <span class="header-trigger" (click)="logout()">
          <i nz-icon nzType="logout" nzTheme="outline"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
