<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <input nz-input placeholder="故障" [(ngModel)]="malfunctionName" />
    <a>
      <i nz-icon nzType="plus-square" nzTheme="outline" (click)="add()"></i
    ></a>
  </div>
  <nz-table
    #basicTable
    [nzData]="malfunctions"
    [nzLoading]="isLoading"
    [nzPageSize]="pageSize"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>故障</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{ data.name }}
        </td>

        <td>
          <a (click)="openEditDlg(data)">
            <i nz-icon nzType="edit" nzTheme="outline"></i
          ></a>

          <nz-divider nzType="vertical"></nz-divider>
          <a>
            <i
              (click)="delete(data)"
              nz-icon
              nzType="delete"
              nzTheme="outline"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
