<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <input nz-input placeholder="品名" [(ngModel)]="name" />
    <a>
      <i nz-icon nzType="plus-square" nzTheme="outline" (click)="add()"></i>
    </a>
  </div>
  <nz-table
    #basicTable
    [nzData]="targets"
    [nzPageSize]="6"
    [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>品名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <ng-container *ngIf="currentId != data.id; else nameInputTpl">
            {{ data.name }}
          </ng-container>
          <ng-template #nameInputTpl>
            <input type="text" nz-input [(ngModel)]="data.name" />
          </ng-template>
        </td>

        <td>
          <a *ngIf="currentId !== data.id" (click)="makeEditable(data.id)">
            <i nz-icon nzType="edit" nzTheme="outline"></i
          ></a>
          <a *ngIf="currentId === data.id" (click)="saveData(data)">
            <i nz-icon nzType="save" nzTheme="outline"></i
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data)">
            <i nz-icon nzType="delete" nzTheme="outline"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
