<ng-container *ngIf="stats">
  <div class="overview" fxLayout="row" fxLayoutAlign="space-between center">
    <nz-card class="day-order" fxFlex="25">
      <nz-statistic
        [nzValue]="stats.orderOfToday"
        [nzTitle]="'本日工单数'"
        [nzValueStyle]="{ color: '#ffffff' }"
      >
      </nz-statistic>
    </nz-card>
    <nz-card fxFlex="25" class="month-order">
      <nz-statistic
        [nzValue]="stats.orderOfCurMonth"
        [nzTitle]="'本月工单数'"
        [nzValueStyle]="{ color: '#ffffff' }"
      >
      </nz-statistic>
    </nz-card>
    <nz-card fxFlex="25" class="year-order">
      <nz-statistic
        [nzValue]="stats.orderOfHistory"
        [nzTitle]="'本年工单数'"
        [nzValueStyle]="{ color: '#ffffff' }"
      >
      </nz-statistic>
    </nz-card>

    <nz-card fxFlex="25" class="history-order">
      <nz-statistic
        [nzValue]="stats.orderOfHistory"
        [nzTitle]="'历年工单数'"
        [nzValueStyle]="{ color: '#ffffff' }"
      >
      </nz-statistic>
    </nz-card>
  </div>
  <div class="graphs" fxLayout="row" fxLayoutAlign="space-between center">
    <nz-card fxFlex="50" nzTitle="故障占比">
      <app-pie
        [legend]="stats.pieOfMalfunctions.lengend"
        [series]="stats.pieOfMalfunctions.series"
      ></app-pie>
    </nz-card>

    <nz-card fxFlex="50" nzTitle="品名占比">
      <app-pie
        [legend]="stats.pieOfTargets.lengend"
        [series]="stats.pieOfTargets.series"
      ></app-pie>
    </nz-card>
  </div>
</ng-container>
