<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <nz-cascader
      (nzSelectionChange)="onSelectionChange($event)"
      [nzLoadData]="loadCascaderData"
      nzPlaceHolder="选择故障类型"
    ></nz-cascader>

    <input nz-input placeholder="处理" [(ngModel)]="actionName" />
    <button nz-button (click)="add()">新增</button>
  </div>
  <nz-table
    #basicTable
    [nzData]="actions"
    [nzPageSize]="6"
    [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>品名</th>
        <th>故障</th>
        <th>处理</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{ data.target.name }}
        </td>
        <td>
          {{ data.malfunction.name }}
        </td>

        <td>
          <ng-container *ngIf="currentId != data.id; else typeInputTpl">
            {{ data.name }}
          </ng-container>
          <ng-template #typeInputTpl>
            <input type="text" nz-input [(ngModel)]="data.name" />
          </ng-template>
        </td>

        <td>
          <a *ngIf="currentId !== data.id" (click)="makeEditable(data.id)"
            >编辑</a
          >
          <a *ngIf="currentId === data.id" (click)="saveData(data)">保存</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
