/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@font-face {
  font-family: "Alibaba-PuHuiTi-Regular";
  src: url("assets/Alibaba-PuHuiTi-Regular.ttf");
}

* {
  font-family: "Alibaba-PuHuiTi-Regular";
}
