<div
  class="content-container"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <input nz-input placeholder="邮箱" [(ngModel)]="email" />
    <input nz-input placeholder="密码" [(ngModel)]="password" />
    <a>
      <i nz-icon nzType="plus-square" nzTheme="outline" (click)="add()"></i
    ></a>
  </div>
  <nz-table
    #basicTable
    [nzData]="accounts"
    [nzLoading]="isLoading"
    [nzPageSize]="pageSize"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>邮箱</th>
        <th>密码</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{ data.email }}
        </td>
        <td>
          ********
        </td>

        <td>
          <a (click)="openEditDlg(data)">编辑</a>

          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
