.content-container {
  .filter-container {
    width: 100%;
    margin-bottom: 24px;

    i {
      font-size: 24px;
    }
    nz-range-picker {
      width: 250px;
      margin: 10px;
    }
  }
  nz-table {
    width: 100%;
  }
}
